@import './base.css';

img{
  border-radius: 1rem;
}

a,
.green {
  text-decoration: none;
  color: var(--green-text);
  transition: 0.4s;
}

/* MOBILE view */
@media (max-width:600px){

  #app {
    max-width: 100%;
    margin: 0;
    padding: 0rem;
    font-weight: normal;
  }
}


/* PC view */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    margin: 0;
  }
}