.img-center{
    width: 60vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.center-heading{
    text-align: center;
}

.text-container{
width: 60%;
display: inline-block;
text-align: justify;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  cursor: pointer;
  background-color: black;
  opacity: 25%;
}
.container-in{
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    width: 90vw;
    height: 90vh;
    position: fixed;
    background-color: white;
    box-shadow: var(--popup-shadow);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

.container-in::-webkit-scrollbar{
    display: none;
}

.content{
    margin:2rem;
    text-align: center;
    margin-bottom: 6rem;
}

.image-center{
    width: 60%;
    display:inline-block;
}

.text-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
/* MOBILE */
@media (max-width: 850px){
.container-in{
    margin-top:14%
}

.text-container{
    width: 95%;
}

.image-center{
    width: 95%;
}
}